<!-- edit record - dialog
    Inputs: get primary key  id from list display
    Actions: Save, Add
    Add button on top and bottom of form
-->

        <md-dialog flex-gt-md="40" aria-label="delete sample" class="md-whiteframe-8dp cog-dialog-layout">
            <md-toolbar>
                <div class="md-toolbar-tools">
                    <h2>Edit Sample</h2>
                    <span flex></span>
                    <md-button class="cog-transparent-btn" ng-click="closeDialog()">
                        <md-icon>cancel</md-icon>
                    </md-button>
                </div>
            </md-toolbar>
            <md-dialog-content layout="row" flex-gt-xs="66">
            <ng-form name="sampleEdit" novalidate>
                <md-input-container class="md-block">
                    <label>ID</label>
                    <input ng-readonly="false" type="text" ng-model="sampleSelected.id" name="id_num" id="id_num"
                           aria-label="" />
                    <div class="md-caption">Enter the ID of the sample</div>
                </md-input-container>

                <md-input-container class="md-block">
                    <label>Field 01</label>
                    <input ng-readonly="false" type="text" ng-model="sampleSelected.field01" name="field01" id="field01"
                        aria-label="" />
                    <div class="md-caption">Enter the field01 of the sample</div>
                </md-input-container>

                <md-input-container class="md-block">
                    <label>Field 02</label>
                    <input ng-readonly="false" type="text" ng-model="sampleSelected.field02" name="field02" id="field02"
                        aria-label="" />
                    <div class="md-caption">Enter the field02 of the sample</div>
                </md-input-container>


                <md-input-container class="md-block">
                    <label>Field 03</label>
                    <input ng-readonly="false" type="text" ng-model="sampleSelected.field03" name="field03" id="field03"
                        aria-label="" />
                    <div class="md-caption">Enter the field03 of the sample</div>
                </md-input-container>

                <div layout="column " class="layout-column ">
                    <!--<md-button cogvalidate="sampleEditPane;SampleCtrl.savesample($accordion) " class="md-raised md-primary md-block md-DarkBlue-theme ">Save</md-button>-->
                    <md-button ng-click="displayPrevious() " class="md-primary md-warn md-block md-DarkBlue-theme ">Close and Back
                        to select sample</md-button>
                </div>
            </ng-form>
            </md-dialog-content>
        </md-dialog>


 
