
<div flex layout="row" layout-align="center none"  ng-controller="SampleCtrl as Sctl">

    <div id="sampleform" flex flex-md="80" flex-lg="65" flex-xl="55" style="max-height:none;">

        <div layout-padding layout-margin flex-xs="100" >
            <div flex class="ng-scope layout-align-center-stretch layout-row flex">
                <mat-form-field class="example-full-width">
                    <i class="material-icons" ng-if="Sctl.data!=''">
                        search
                    </i>

                    <input ng-if="Sctl.data!=''"  matInput placeholder="Enter search String"
                           ng-model="Sctl.searchString" ng-change="changedSearch()">

                    <a ng-click="openRightSide()"><i class="material-icons">
                        line_weight
                    </i></a>
                </mat-form-field>
            </div>
            <br />
            <v-accordion id="accordionA" class="vAccordion--default" ng-hide="Sctl.data===''"
                         control="accordionA" onexpand="expandCallback(index, id)"
                         oncollapse="collapseCallback(index, id)">
                <v-pane id="pane1" >
                    <v-pane-header id="samplePane-header" aria-controls="samplePane-content" >
                        Select or edit Results

                    </v-pane-header>
                    <v-pane-content id="samplePane-content" aria-labelledby="samplePane-header">
                        <cog-sample-grid keyword="Sctl.searchString" value="Sctl.data"></cog-sample-grid>
                    </v-pane-content>
                </v-pane>

                <v-pane id="pane2" expanded ng-hide="Sctl.searchString!==''">
                    <v-pane-header id="samplePane2-header" aria-controls="samplePane2-content">
                        Field List
                    </v-pane-header>
                    <v-pane-content id="samplePane2-content" aria-controls="samplePane2-header">
                        <cog-sample-grid value="Sctl.data"></cog-sample-grid>
                    </v-pane-content>
                </v-pane>


            </v-accordion>

        </div>
    </div>
    <cog-sample-find value="Sctl.data" ></cog-sample-find>
</div>
