<md-sidenav class="md-sidenav-right md-whiteframe-4dp" md-is-open="true" md-component-id="right">
    <md-toolbar class="md-theme-light">
        <h1 class="md-toolbar-tools">Filter List By</h1>
    </md-toolbar>
    <div layout-padding >
        <form>
            <div class="md-padding" ng-cloak>
                <div>
                    <div layout="column">
                        <span ng-message="serverError" class="label label-danger">{{serverError}}</span>
                        <md-button ng-init="parentSearchCtrl.showItemFetchProgressBar = true"
                            ng-click="applyFilters()" class="md-accent md-raised">Search
                        </md-button>
                        <md-input-container class="md-block">
                            <input type="text" ng-model="id" name="Primary Key id" placeholder="Primary Key id"
                                aria-label="Primary Key id" />
                        </md-input-container>
                        <md-input-container class="md-block">
                            <input type="text" ng-model="name" name="Name of User" placeholder="Name of User"
                                aria-label="Name of User" />
                        </md-input-container>
                    </div>
                </div>
            </div>
        </form>
    </div>
</md-sidenav>