<md-dialog flex-gt-md="40" aria-label="delete sample" class="md-whiteframe-8dp cog-dialog-layout">
    <md-toolbar>
        <div class="md-toolbar-tools">
            <h2>Edit User Maintenance</h2>
            <span flex></span>
            <md-button class="cog-transparent-btn" ng-click="closeDialog()">
                <md-icon>cancel</md-icon>
            </md-button>
        </div>
    </md-toolbar>
    <md-dialog-content layout="column" flex flex-gt-xs="66">
        <div class="md-dialog-content">
            <ng-form name="userEdit" novalidate>
                <md-content layout-padding>
                    <div class="md-dialog-content">
                        <md-input-container class="md-block">
                            <label>Primary Key id</label>
                            <input type="text" ng-model="selectedRecord.id" name="Primary Key id"
                                id="field_id" aria-label="Primary Key id" />
                        </md-input-container>
                        <md-input-container class="md-block">
                            <label>Name of User</label>
                            <input type="text" ng-model="selectedRecord.name" name="Name of User"
                                id="field_name" aria-label="Name of User" />
                        </md-input-container>
                        <div layout="column " class="layout-column ">
                            <md-button ng-click="save(selectedRecord) "
                                class="md-raised md-primary md-block md-DarkBlue-theme ">Save</md-button>
                            <md-button ng-click="cancel() " class="md-primary md-warn md-block md-DarkBlue-theme ">
                                Close</md-button>
                        </div>
                    </div>
                </md-content>
            </ng-form>
        </div>
    </md-dialog-content>
</md-dialog>