
<md-sidenav class="md-sidenav-right md-whiteframe-4dp" md-is-open="true" md-component-id="right">
    <md-toolbar class="md-theme-light">
        <!--<h1 class="md-toolbar-tools">{{$ctrl.data}}</h1>-->
        <h1 class="md-toolbar-tools">Filter List By</h1>
    </md-toolbar>
    <div layout-padding ng-controller="EventCtrl as ctrl">

        <form>
            <div class="md-padding" ng-cloak >
                <div>
                    <div layout="column">
                        <span ng-message="serverError" class="label label-danger">{{ctrl.serverfakeerror}}</span>
                        <md-button ng-init="SampleCtrl.showItemFetchProgressBar = true" ng-click="applyFilters()"
                            class="md-accent md-raised">Search
                        </md-button>
                        <md-input-container>
                            <md-select ng-model="selectedForms" placeholder="Select Record">
                                <md-option value="users">users</md-option>
                                <!--<md-option value="posts">posts</md-option>-->
                            </md-select>
                        </md-input-container>

                    </div>
                </div>
            </div>
        </form>
    </div>
</md-sidenav>
