<div flex layout="row" layout-align="center none">
    <div id="userform" flex flex-md="80" flex-lg="65" flex-xl="55" style="max-height:none;">
        <a href="#">Home</a> > 
        <div layout-padding layout-margin flex-xs="100">
            <div layout="row" layout-align="center center" ng-if="userCtrl.data!=''">
                <md-input-container>
                    <md-icon>search</md-icon>
                    <input ng-model="userCtrl.searchString"
                        ng-change="changedSearch()" aria-label="Filter list" md-autofocus
                        md-placeholder="Filter your information...">
                </md-input-container>
                <md-button class="md-primary" ng-click="openRightSide()">
                    <md-icon>menu</md-icon>
                    <h6>Filter List</h6>
                </md-button>
            </div>
            <br />
            <v-accordion id="accordionA" class="vAccordion--default"
                ng-hide="userCtrl.data===''" control="accordionA"
                onexpand="expandCallback(index, id)" oncollapse="collapseCallback(index, id)">
                <v-pane id="pane1" expanded>
                    <v-pane-header id="samplePane-header" aria-controls="samplePane-content">
                        {{displayMessage}}
                    </v-pane-header>
                    <v-pane-content id="samplePane-content" aria-labelledby="samplePane-header">
                        <cog-user-grid
                            tablekeyword="userCtrl.searchString"
                            value="userCtrl.data"
                            keyword="userCtrl.keyword">
                        </cog-user-grid>
                    </v-pane-content>
                </v-pane>
            </v-accordion>
        </div>
    </div>
    <cog-user-find value="userCtrl.data"
        keyword="userCtrl.keyword"></cog-user-find>
</div>