
<div ng-controller="DashCtrl" ng-cloak>
    <!--<a ui-sref="sample" ui-sref-active="active">Hello</a>-->
    <md-content>


        <section layout="row" layout-sm="column" layout-align="center center" layout-wrap>
            <md-button disabled="true" ng-click=sample_clicked() class=" md-primary" aria-label="Eat cake">
                Sample
                <!--<md-icon md-svg-src="img/tweetThis.svg"></md-icon>-->
            </md-button>
        </section>
        <md-divider></md-divider>
        <section  layout="row" layout-sm="column" layout-align="center center" layout-wrap>
            <md-button disabled="" ng-click=users_clicked() class="md-primary" >
                Users
            </md-button>
        </section>
        <md-divider></md-divider>
        <section layout="row" layout-sm="column" layout-align="center center" layout-wrap>
            <md-button disabled="true" ng-click=albumns_clicked() class="md-primary" >
                Albums
            </md-button>
        </section>
    </md-content>
</div>